{% extends "blog/base.html" %}
{% block content%}
<h1>What Is This Place?</h1>

<body>
<P></P>
    <p> MangoTreeFish is a brand new blog application designed with you in mind!
        There are no limits or rules to what can be posted.
        Just friendly place to blog, speak your mind and share information.
        Please Just be thoughtful, mindful, and polite to your fellow posters here!
    </p>

    <p>We try to give our users the best experience in creative blogging and information sharing.
        With big social media platforms it's hard to wade through all the advertisements and false information being shared.
        At MangoTreeFish we provide a low traffic place and a community for creative minds to come together.
        This is a place to share knowledge and new insights of whatever topic you choose.</p>
    <P>Feel free to create a free account and start posting today!</P>
</body>
{% endblock content%}

